.room-name{
	font-size: 35px;
	padding-left: 20px;
}
.room-temperature{
	font-size: 80px;
	padding-left: 15px;
}
.room-temperature-icon{
	height: 50px;
	width: 50px;
}
ion-col.room-temperature{
	margin-bottom: auto;
	margin-top: auto;
}
.todays-date{
	color: grey;
	padding-left: 20px;
}
.range-slider{
	padding: 10px 60px;
}
.card-title{
	margin-right: 52px; 
}