
.login-label {
    font-size: 15px; 
}
.card-header-icon {
    height: 50px;
    width: 50px;
}
button.button-native {
    background-color: red;
    color: red;
}   
ion-card {
    background-color: white;
    margin: 15% 8%;
}