// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

ion-content {
    --background: linear-gradient(162deg, #da5454 20%, rgba(39, 52, 86, 0.8) 100%), bottom no-repeat
}

ion-content.room-control{
    --background: linear-gradient(162deg, #0cd1e8 20%, rgba(3, 9, 27, 0.8) 100%), bottom no-repeat
}
ion-content.rooms-status{
	--background: linear-gradient(162deg, rgba(50, 165, 74, 0.8) 20%, rgba(3, 9, 27, 0.8) 100%), bottom no-repeat;
}

